html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'EB Garamond', serif;
  background-color: rgba(185, 253, 255, .1);
  background-image: url('https://user-images.githubusercontent.com/102932448/190929437-4534d55a-604e-4277-8ae9-28d078ec4fcc.png');
  background-position-y: center;
  background-size: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}