.blurb-box {
    border: 1px solid black;
    border-radius: 8px;
    height: 100%;
    width: 36%;
    overflow-y: scroll;
    box-shadow: 0 0 4px #000;
    background-color: white;
}

.the-blurb {
    font-size: 18px;
    font-family: 'EB Garamond', serif;
    padding: 3%;
}