.blurb-box {
    border-style: solid;
    border-radius: 8px;
    height: 80vh;
    width: 30vw;
    overflow-y: scroll;
    
}

.the-blurb {
    font-size: 25px;
    margin: 60px;
    font-family: helvetica;
}