.character-creator {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    border: 1px solid #041F57;
    border-radius: 8px;
    width: 26vw;
    height: 82vh;
    overflow-wrap: break-word;
    overflow-y: scroll;
    box-shadow: 0 0 4px #000;
    background-color: white;
}

.ability-score-wrapper {
    display: flex;
    justify-content: space-around;
}

.ability-score {
    width: 2vw;
    height: 2vh;
    border-radius: 8px;
    border: 1px solid grey;
}

.name-error-message {
    color: #FD0059;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    justify-content: space-evenly;
}

#name {
    border-radius: 8px;
    border: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    justify-content: center;
}

.about-me {
    padding: 10px 10px 10px 10px;
    height: 14vh;
    width: 12vw;
    border-radius: 8px;
    margin-bottom: 3vh;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
}

#ac, #hp {
    border-radius: 8px;
    border: 1px solid grey;
    width: 3vw;
    height: 3vh;
}

h3 {
    font-weight: bold;
    font-size: 24px;
}

select {
    background-color: white;
    padding: 16px;
    border: 1px solid grey;
    border-radius: 8px;
    cursor: pointer;
    width: 10vw;
    height: 5vh;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
    font-size: 12px;
}

button {
    padding-top: 4px;
    padding-bottom: 4px;
    height: 30px;
    width: 150px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #42628D;
    border-radius: 16px;
    font-size: 12px;
    margin-bottom: 1vh;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 4px #000;
   
}

#randoButton {
    margin: 1vh;
}

#submit {
    background-color: #FD0059;
}

@media screen and (max-width: 600px) {
    div > button,
    form > button {
        height: 20px;
        width: 60px;
    }
  }

  @media screen and (max-height: 760px) {
    div > button,
    form > button {
        height: 15px;
        width: 150px;
    }
  }



