.character-creator {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    width: 400px;
    height: 800px;
}

.ability-score-wrapper {
    display: flex;
    justify-content: space-around;
}

.ability-score {
    width: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    justify-content: space-evenly;
}

.about-me {
    height: 100px;
    width: 275px;
}

#ac, #hp {
    width: 25px;
}