.search-bar-container {
    display: flex;
    justify-content: center;
    
}

.search-bar {
    margin-left: 300px;
    border-radius: 10px;
    height: 20px;
    width: 180px;
    margin-top: 30px;
}

.monster-search-button {
    margin-left: 5px;
    margin-top: 30px;
}

.current-monster {
font-size: 4vh;
}
.monster-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-style: solid;
    width: 70vw;
    height: 80vh;
    overflow: scroll;
    border: 1px solid black;
    border-radius: 8px;
}

.stat-ability-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1, 1;
    font-size: 1vh;
}

.monster-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    width: 400px;
    height: 70vh;
    padding: 10px;
    margin: 10px;
}

.monster-stat {
    display: flex;
    height: 20px;
    font-size: 25px;
}

.stat-title {
    font-size: 3vh;
    margin: 15px;
    margin-top: 0px;
}

.special-abilities {
    border-style: solid;
    border-radius: 8px;
    width: 40vw;
    padding: 10px;
    margin: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    flex: 1, 1, content;
}

.special-abilities h2{
    font-size: 3vh;
    align-self: center;

}

.special-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    height: auto;
}

.special {
    display: flex;
    flex: 2, 1, content;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    font-size: 125%;
    margin: 2vw;
    width: 15vw;
    height: auto;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
}

.special-ability-name {
    margin-top: 5px;
    font-weight: bold;
    font-size: 2rem;
    
}

.special-description {
    font-display: flex;
    margin-top: 0px;
    padding: 5px;
    flex-wrap: wrap;
    flex: 1, 1;
}

.proficiencies {
    border-top: solid;
    width: 400px;
    height: 310px;
    font-size: 25px;
    padding: 5px;
    overflow: auto;
}
