nav {
    flex: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 9vh;
    font-size: 5vh;
    font-weight: bolder;
    box-shadow: 0 0 4px #000;
    border-bottom: 1px solid black;
    padding-bottom: 3vh;
    padding-top: 2vh;
}

.app-title {
  width: fit-content;
  background-color: white;
  align-self: center;
  margin-top: 1vh;
  border-radius: 8px;
}


.view-monster-page-button {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 4vh;
  width: 8vw;
  cursor: pointer;
  font-size: 30%;
  border: none;
  color: #fff;
  background-color: #00bda7;
  border-radius: 16px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}