header {
  display: flex;
  flex-direction: column;
}

.app-title {
width: 50%;
align-self: center;
margin-top: 1%;
}

.nav-link {
  align-self: flex-end;
  width: 10%;
  margin-top: -4%;
  margin-bottom: 4%;
  margin-right: 2%;
}

.view-monster-page-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #FD0059;
  border-radius: 16px;
  padding: 5%;
}