.party-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        border: 1px solid #041F57;
        border-radius: 8px;
        width: 26vw;
        height: 82vh;
        overflow-wrap: break-word;
        box-shadow: 0 0 4px #000;
        background-color: white;
    }

.party-member {
    border: 1px solid grey;
}

.party-member:hover {
    cursor: pointer;
    background-color: whitesmoke;
  }

.party-wrapper {
    width: 26vw;
    height: 75vh;
    margin-bottom: 1vh;
    overflow-y: scroll;
}

.delete {
    height: 2vh;
    width: auto;
}

#killAll {
    position: relative;
    align-self: center;
    background-color: #FD0059;
    white-space: nowrap;
}