.party-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #041F57;
        border-radius: 8px;
        width: 26%;
        height: 100%;
        overflow-wrap: break-word;
        box-shadow: 0 0 4px #000;
        background-color: white;
    }

.party-member {
    border: 1px solid grey;
}

.party-member:hover {
    cursor: pointer;
    background-color: whitesmoke;
  }

.party-wrapper {
    width: 100%;
    height: 95%;
    overflow-y: scroll;
}

.add-char-prompt {
    padding: 3%;
}

.delete {
    color: white;
    background-color: #42628D;
    border: none;
    border-radius: 15px;
    padding: 1%;
    margin: 2%;
    width: 20%;
    min-width: 70px;
}

#killAll {
    color: white;
    background-color: #FD0059;
    border: none;
    border-radius: 15px;
    padding: 1%;
    margin-top: 1%;
    width: 80%;
    max-width: 150px;
}